@font-face {
  font-family: "MinecraftRus";
  src: url("fonts/minecraft-rus-regular1.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url(images/214px-Dirt_background_BE2.png) center / cover;
  overflow: hidden;
}

/* ---------- LOGIN ---------- */
#loginScreen {
  max-width: 750px;
  margin: 0 auto;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#logo {
  transform: scale(1.2);
  display: block;
  margin: 0 auto;
}

#password {
  height: 80px;
  width: 100%;
  padding-left: 12px;
  background: black;
  border: 3px solid #e0e0e0c0;
  color: #e0e0e0;
  font-size: 22pt;
  font-family: "MinecraftRus";
}

#password:focus {
  outline: none;
  border-color: white;
}

#authBtn {
  height: 80px;
  width: 100%;
  background: url("images/main_menu.png");
  border: none;
  color: #e0e0e0;
  font-size: 22pt;
  line-height: 80px;
  text-shadow: 2px 3px 0 #383838;
  cursor: pointer;
  font-family: "MinecraftRus";
}

#authBtn:hover {
  background-position: 0 -80px;
  color: #ffffa0;
}

/* ---------- REVEAL ---------- */
#revealScreen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#revealBtn {
  height: 80px;
  width: 300px;
  font-size: 18pt;
}

#introVideo {
  position: fixed;   
  top: 0;
  left: 0;
  width: 100vw;      
  height: 100vh;     
  object-fit: cover; 
  z-index: 1000;     
  margin: 0;         
  padding: 0;
}



/* ---------- VIDEO ---------- */
#videoScreen {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  z-index: 10;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ---------- SNOW ---------- */
#snowContainer {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: -1;
}

.snowflake {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #e6e6e6;
  box-shadow: 2px 0 0 #cfcfcf, 0 2px 0 #cfcfcf, 2px 2px 0 #bdbdbd;
  image-rendering: pixelated;
  animation: fall linear infinite;
}

.fallingImg {
  position: absolute;
  width: 50px;
  height: 50px;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  10% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(100vh);
    opacity: 1;
  }
}

/* Скрытый элемент */
.hidden {
  display: none !important;
}

/* ---------- MOBILE ---------- */
@media (max-width: 600px) {
  #loginScreen {
    width: 90%;
    height: 50vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    gap: 15px;
    padding-top: 15vh;
  }

  /* Логотип */
  #logo {
    max-width: 80%;
    height: auto;
    transform: scale(1.3);
    margin: 0 auto;
    padding-top: 100px;
  }

  #password,
  #authBtn {
    width: 100%;
    max-width: 300px;
    height: 60px;
    font-size: 18pt;
  }

  #authBtn {
    line-height: 60px;
  }

  .fallingImg {
    width: 40px;
    height: 40px;
  }

  .snowflake {
    width: 6px;
    height: 6px;
  }
}
